.example-spacer {
    flex: 1 1 auto;
  }
.nav-bar{
  background-image: linear-gradient(to right, #003d6a, #005088); /* Defines the gradient with starting and ending colors */
  color: white; /* Text color to ensure readability */
}
.logout-icon{
  color: rgba(255, 0, 0, 0.7); /* Set the color to a red with 70% opacity */
}
.select-container {
  display: flex;
  align-items: center; /* Vertically centers the content */
  height: 100%; /* Makes the div take the full height of its parent */
}